.Galleri{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    
    

    background-color: lightblue;
    
}


body{
    
    
    background: gainsboro;
    
    
}

.Galleribilde{
    display: block;
    
    
    
}

   
   
  