


body{
    background-color: white;
    background-color: lightblue;
    animation: colorchange 60s infinite;
}


.Galleri{
    display: grid;
    
    grid-gap: 0px;
    
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));

    grid-auto-rows: 250px,150px;
    grid-auto-flow: dense;
    
}
.Galleribilde > figure > img{
    width: 100%;
}

p {
    font-size: x-large;
}

.summertime {
    text-align: center;
}

h1{
    font-size: xx-large;
}

@keyframes colorchange {
    0% {
      background: lightblue;
    }
    20% {
      background: yellow;
    }
    40% {
      background: orangered;
    }
    60% {
      background: red;
    }
    80% {
      background: white;
    }
    100% {
      background: lightblue;
    }
  }


   
   
  