


body{
    background-color: gainsboro;
    animation: colorchange 60s infinite;
}


.Galleri{
    display: grid;
    
    grid-gap: 0px;
    
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));

    background-color: lightblue;

    grid-auto-rows: 250px,150px;
    grid-auto-flow: dense;
    
}
.Galleribilde > figure > img{
    width: 100%;
}

p {
    font-size: x-large;
}

h1{
    font-size: xx-large;
}

@keyframes colorchange {
    0% {
      background: #7AD8F5;
      color: white;
    }
    20% {
      background: #9342A6;
      color: white;
    }
    40% {
      background: #AA1A13;
      color: white;
    }
    60% {
      background: #FECF87;
    }
    61% {
      color: #333;
    }
    80% {
      background: #AEE77E;
    }
    81% {
      color: white;
    }
    100% {
      background: #7AD8F5;
      color: white;
    }
  }


   
   
  